doctype html
html(lang="fr")

  head
    meta(charset="UTF-8")
    title Ajouter un étudiant
    link(rel="stylesheet", href="/assets/style.css")

  body.container
    form(method="POST", action="/add-student")
      h1 Ajouter un étudiant
      label(for="name") Nom :
      input(type="text", id="name", name="name", placeholder="Saisissez votre nom", required)

      label(for="birth") Date de naissance :
      input(type="date", id="birth", name="birth", required)

      button(type="submit") Ajouter
