doctype html
html(lang="fr")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Agence Immo | #{title}
        link(rel="stylesheet", href="/styles/app.css")
    body.min-h-screen.bg-gray-50

        main(class="mx-auto container mt-10 px-2 min-h-screen")
            block content

        .w-full.bg-gray-300.sticky.py-4 
            p.text-center.text-white - Elyas -